<h1>Détail du personnage : {{personnage.name}}</h1>
<p>Taille : {{personnage.height}}</p>
<p>Poids : {{personnage.mass}}</p>
<p>Couleur de cheveux : {{personnage.hair_color}}</p>
<p>Couleur de peau : {{personnage.skin_color}}</p>
<p>Couleur de yeux : {{personnage.eye_color}}</p>
<p>Date d'anniversaire : {{personnage.birth_year}}</p>
<p>Genre : {{personnage.gender}}</p>
<h3>Liste des films : </h3>

<table border="1" *ngFor="let film of listeFilms; let i = index;">
  <thead>
  </thead>
  <tbody>
    <tr>
      <td width ="100px"><h2>{{film.title}}</h2></td>
      <td width ="100px"></td>
      <td width ="100px"><button (click)="viewDetailFilm(i)"> En savoir + </button></td>
    </tr>
  </tbody>
  <thead *ngIf="i === viewDetail">
    <th>N° Episode</th>
    <th>Directeur</th>
    <th>Producteur</th>
  </thead>
  <tbody *ngIf="i === viewDetail">
    <tr>
      <td width ="100px">{{film.episode_id}}</td>
      <td width ="100px">{{film.director}}</td>
      <td width ="100px">{{film.producer}}</td>
    <tr>
  </tbody>
</table>
<p><button routerLink="/accueil">Retour</button></p>
